HELP.md
.mvn/wrapper
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mvnw.cmd
mvnw
*.zip
*.rar
target/classes/
target/maven-status/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#### Server email password
src/main/resources/application.properties
